

.EditFormProfile{
   width: 400px;

}

.modal-win__img{
    width: 20em;
    height: auto;
    overflow: hidden;
    //@include border;
}

@media all and (max-width : 320px){
    .EditFormProfile{
   
        width: 320px;
        overflow: hidden;
    }
}