.header{
   line-height: 2em;
   top:0; 
   z-index: 2;
   border-color: inherit;
}
.header__menu320{
    display: none;
}
.header__posts{
    margin-left: 1em;
}
.header_nav{
    padding: .5em 0;
    border-color: inherit;
}
.header__sign{
    border-color: inherit;
}
.header_reg{
    margin-left: .5em;
    padding-left: .5em;
    border-left: 2px solid;
    border-color: inherit;
}

.header_img{
    height: 2em;
    border-radius: 1em;
    display: inline;
}

@media all and (max-width : 768px){
  .header__logo{
      display: none;
  }
}
@media all and (max-width : 320px){
    
    .header__img{
        display: none;
    }

    .header__menu320{
        display: inline-block;
        width: 2em;
        height: 2em;
        border: 1px solid grey;
        border-radius: 10px;
        overflow: hidden;
        vertical-align: middle;
        font-weight: bold;
        line-height: 200%;
        text-align: center;
    }

    .header__nav{
        border: 1px solid grey;
        border-radius: 10px;
        display:none;
        flex-direction: column;
        position: relative;
        padding: 0 15px;
        width: 15em;
        
        background-color: inherit;
        
    }
    .header__users, 
    .header__posts,
    .header__sign,
    .header__reg,
    .header__sign-reg{
        display: block;
        margin: 10px 0;
        padding: 0;
    }
    
}