.header{
   line-height: 2em;
   top:0; 
   z-index: 2;
   border-color: inherit;
}
.header__menu320{
    display: none;
}
.header__posts{
    margin-left: 1em;
}
.header_nav{
    padding: .5em 0;
    border-color: inherit;
}
.header__sign{
    border-color: inherit;
}
.header_reg{
    margin-left: .5em;
    padding-left: .5em;
    border-left: 2px solid;
    border-color: inherit;
}
.header_flex{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
} 
.header_img{
    height: 2em;
    border-radius: 1em;
    display: inline;
}

@media all and (max-width : 768px){
  .header__logo{
      display: none;
  }
}
@media all and (max-width : 320px){
    .header{
        line-height: 3em;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    .header_img{
        display: none;
    }
    
    .header__menu320{
        display: inline-block;
        margin-top: .5em;
        width: 2em;
        height: 2em;
        border: 1px solid grey;
        border-radius: 10px;
        overflow: hidden;
        vertical-align: middle;
        font-weight: bold;
        line-height: 200%;
        text-align: center;
    }
    .header_flex{
        flex-direction: column;
    }
    .header_nav{
        border: 1px solid grey;
        border-radius: 10px;
        display:none;
        margin-top: 3em;
        position: absolute;
        padding: 0 30px;
        width: 15em;
        background-color: inherit;
        
    }
    .header_reg {
        border: none;
        padding: 0;
        margin: 0;
    }
    .header__posts {
        margin: 0;
    }
    
}