.userprofile{
    text-align: center;
    
}

.userprofile__prof{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}
.userprofile__prof-info{
     display: inline-flex;
}
.userprofile__img{
    width: 20em;
    margin-right: 1em;
}
.userprofile_h1{
    font-size: 20px;
    margin: 0 0 2em;
    padding-top: 0;
}
.userprofile__inline{
    height: 2em;
}
.userprofile__inline > *{
    display: inline-block;
}
.userprofile_w100{
    width: 100%;
    font-weight: bold;
}
.userprofile__inline p{
    font-weight: bold;
    margin-right: 1em;
}

.userprofile_w15em{
    width: 15em;
}

.userprofile_w13em{
    max-height: 13em;
    max-width: 13em;
    overflow:hidden;
}

.userprofile__user-posts{
    *width: auto;
}

.form-edit__update-pic{
    cursor: pointer;
    padding: .5em;
}
.form-edit__update-pic:hover{
    outline: 2px solid #dfdfdf;
}
.form-edit__update-pic:active{
    padding: .3em;
    outline: none;
    border: 2px solid #dfdfdf;
}

.userprofile__edit{
    background: url("../../additionData/edit-icon.svg") no-repeat;
    background-size: 25px;
    padding-left: 25px;
    cursor: pointer;
    font-size: .85em;
}



@media all and (max-width : 320px){
    .userprofile{
        width: 320px;
        
    }
    .userprofile__img{
        width: 100%
    }
    .userprofile__user-posts{
       justify-content: center;
    }
  }
